.field {
    position: relative;
}


.required:invalid,
.email:invalid{
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.required:invalid + span:after {
    content: attr(data-field) ' can not empy';
    color: tomato;
}

.email:invalid + span:after {
    content: attr(data-field);
    color: red;
}
